.card{
    display: inline-block;
    margin: 30px;
    border: solid 1px;
    background-color:cadetblue;
    height:auto;
    cursor: pointer;
}
img{
    height: 300px;
    width: 400px;
    margin: 20px;
}

.button{
    display: table;
    margin: auto;
    height: 30px;
    width: 90px;
    margin-bottom: 10px;
}