#property-list-image{
    border: solid BLACK 2PX;
    width: 200px;
    height: 150px;
}
table{
    display: table;
    margin: auto;
    border-collapse: collapse;
}
.table-head{
    padding: 20px;
    border: solid black 1px;
}
td{
    padding: 20px;
    border: solid black 1px;
}