.register-form{
    display:table;
    margin: auto;
    border:solid 1px;
    width:400px;
    height: 400px;
}
label.register-label{
    display: inline-block;
    width: 90px;
}
label.radio-lable{
    display: inline-block;
    width: 90px;
}
input.register-input{
    display: inline-block;
    height: 20px;
    margin-left:40px;
    margin-top: 60px;
}
input#register-submit{
    display: table;
    margin: auto;
    margin-top: 40px;
}
input#user-radio{
    display: inline-block;
    margin-top: 40px;
}
input#broker-radio{
    display: inline-block;
}